[submodule "addons/gestion_erasmus"]
	path = addons/gestion_erasmus
	url = https://github.com/puzplaiaundi/odoo-erasmus.git
[submodule "addons/gestion_dual"]
	path = addons/gestion_dual
	url = https://github.com/puzplaiaundi/odoo-dual.git
